name: Deploy to VPS via SCP

on:
  push:
    branches:
      - main  # ou a branch que você usa para produção

jobs:
  deploy:
    name: Copiar e iniciar projeto na VPS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Criar .env na VPS via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            echo "${{ secrets.ENV_FILE_DB }}" > /home/${{ secrets.USERNAME }}/node-vps/.env.db
            echo "${{ secrets.ENV_FILE }}" > /home/${{ secrets.USERNAME }}/node-vps/.env

      - name: Copy files via SCP
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          source: "."
          target: "/home/${{ secrets.USERNAME }}/node-vps"

      - name: Executar comandos remotos via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            cd /home/${{ secrets.USERNAME }}/node-vps
            docker compose down || true
            docker compose up -d --build
